h1 {
    color: darkgrey; 
    font-family: "GenerisSansW01-Regular", serif;
}

h2 {
    color:red; 
    font-family: "GenerisSansW01-Regular", serif;
}

h3 {
    margin-top: -1em;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "GenerisSansW01-Regular", sans-serif;
}

body {
    max-width: 80%;
    padding-bottom: 5em;
}

p {
    color:black; 
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

a {
    color:blue;
    text-decoration: underline;
}

li {
    margin-top: 5px;
}

form {
    display: flex;
    justify-content:left;
}

input {
    max-width: 25em;
}

.header {
    display: flex; 
    align-content: flex-start;
}

.black {
    color: black; 
    font-family: "Arial", sans-serif;
}

.red {
    color: red; 
    font-family: "Arial", sans-serif;
}

.linklist {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputTimeTable {
    font-size: 18px;
    margin-right: 1em;
    padding: .5em;
    border: 3px solid white;
    color: grey;
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.5),
            0 0 16px rgba(0,0,0,0.1);
}

.btnTimeTable {
    background-color: red;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btnTimeTable:hover {
    background-color: pink;
    color: black;
}

.nodecoration {
    color: default;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {

    .hideonmobile {
        display: none;
    }

    a, p, ul {
        font-size: 18px;
    }

    hr {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .linklist {
        flex-direction: column;
        justify-content: space-between;
    }

    .linklist a {
        margin-bottom: 1em;
    }

    form {
        flex-direction: column;
        justify-content: space-around;
    }

    ul {
        margin-left: -1em;
    }

    ul ul li {
        margin-left: -.1em;
    }

    .inputTimeTable {
        height: 2.5em;
        width: 100%;
        margin-bottom: 2em;
    }

    .btnTimeTable {
        height: 2em;
        width: 100%;
    }

    
}
